[Desktop Entry]
Version=1.0
Type=Application
Name=quickfm
GenericName=File Manager
Comment=Browse the System Directories
Categories=System
MimeType=inode/directory
Exec=quickfm
Icon=folder
Terminal=false
StartupNotify=false
